@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #F8FFF6;
    box-sizing: border-box;
}

.principal_menu{
    display: flex;
    min-height: 100vh;
}

.barra_menu{
    width: 260px;
    background-color: #D9D9D9;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h2{
    color: #501345;
    font-size: 36px;
    font-weight: 700;
}

.cabecalho button{
    background-color: transparent;
    border: none;
}

.cabecalho button img{
    width: 39px;
    height: 41px;
    cursor: pointer;
}

.cabecalho button img:hover{
    opacity: 0.7;
}

.navegacao ul{
    list-style: none;
}

.navegacao a{
    text-decoration: none;
    color: #474845;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navegacao a:hover{
    color: #501345;
    font-weight: 600;
    transition: 0.3s;
    border-right: 3px solid #501345;
}

.navegacao img{
    width: 23px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.navegacao img:hover{
    opacity: 0.6;
}

.navegacao li{
    padding: 10px 10px;
    cursor: pointer;
    color: #474845
}

.navegacao li:hover {
    background: #d5d5d5;
}

.perfil{
    margin-top: auto;
    margin-left: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img{
    width: 45px;
    height: 45px;
}

.perfil span{
    color: #501345;
    font-weight: 500;
}

