@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #F8FFF6;
    box-sizing: border-box;
}

.principal_menu{
    display: flex;
    min-height: 100vh;
}

.barra_menu{
    width: 260px;
    background-color: #D9D9D9;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.barra_menu {
    transform: translateX(-79%);
    transition: transform 0.4s ease;
    position: fixed;
    z-index: 1000;
    height: 100vh;
    left: 0;
    top: 0;
}

.barra_menu.aberto {
    transform: translateX(0);      
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h2{
    color: #501345;
    font-size: 36px;
    font-weight: 700;
}

.cabecalho button{
    background-color: transparent;
    border: none;
}

.cabecalho button img{
    width: 39px;
    height: 41px;
    cursor: pointer;
}

.cabecalho button img:hover{
    opacity: 0.7;
}

.navegacao ul{
    list-style: none;
}

.navegacao a{
    text-decoration: none;
    color: #474845;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navegacao a:hover{
    color: #501345;
    font-weight: 600;
    transition: 0.3s;
    border-right: 3px solid #501345;
}

.navegacao img{
    width: 23px;
    height: auto;
    transition: all 0.2s ease-in-out;
}

.navegacao img:hover{
    opacity: 0.8;
    filter: brightness(0) saturate(100%) invert(5%) sepia(65%) saturate(3743%) hue-rotate(295deg) brightness(94%) contrast(98%);
}

.navegacao li{
    padding: 10px 10px;
    cursor: pointer;
    color: #474845
}

.navegacao li:hover {
    background: #d5d5d5;
}

.perfil{
    margin-top: auto;
    margin-left: 18px;
    position: sticky;     
    bottom: 20px;         
    background: #D9D9D9;  
    padding: 15px;        
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img{
    width: 45px;
    height: 45px;
}

.perfil span{
    color: #501345;
    font-weight: 500;
}

.principal{
    flex: 1;
    padding: 20px;
}

.principal h1{
    font-size: 3rem;
    color: #501345;
    margin-bottom: 30px;
}

.nova_tarefa{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    background-color: #F1F8F2;
    padding: 1.1rem;
    border-radius: 10px;
}

.tarefas_gerais h2{
    margin-bottom: 20px;
    color: #501345;
    font-size: 32px
}

.titulo_tarefa{
    margin-bottom: 15px;
    flex: 1;
}

.titulo_tarefa label{
    display: block;
    font-size: 20px;
    color: #501345;
    margin-bottom: 4px;
}

.titulo_tarefa input{
    width: 92%;
    height: 26%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.grupo_linha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.adicionar_tarefa{
    width: 100%;
    height: 50.31%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #501345;
    font-size: 25px;
    margin-top: 8.6%;
    padding-top: 8px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.adicionar_tarefa:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.33);
}

.cartao{
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
}

.cartao h3{
    font-weight: 300;
}

.hora{
    background-color: #501345;
    background-image: url(../img/Clock.png);
    background-repeat: no-repeat;
    background-position: 80%;
}

.valor{
    background-color: #501345;
    background-image: url(../img/Dollar\ sign.png);
    background-repeat: no-repeat;
    background-position: 80%;
}

.resumo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}

hr{
    border: 0;
    background-color: white;
    height: 2px;
}

.lista_tarefa{
    margin-top: 40px;
}

.lista_tarefa h2{
    font-size: 3rem;
    color: #501345;
    margin-top: 50px;
}

article{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    margin-top: 1.5%;
}
 
h4{
    color: #501345;
}
.coluna_tarefa{
    font-size: 18px;
}
/* .coluna_tarefa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.coluna_tarefa p{
    color: #2e2f2d;

}

.acoes {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-right: 1rem
}

.editar_tarefa, .excluir_tarefa {
    width: 50px;
    height: 50px;
    border: none;
    background: white;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.editar_tarefa img, .excluir_tarefa img {
    width: 30px;
    height: auto;
    display: block;
    object-fit: contain;
}

.editar_tarefa:hover, .excluir_tarefa:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.33);
}

.principal {
    transition: margin-left 0.4s ease;
    margin-left: 70px;  
}

.barra_menu.aberto ~ .principal {
    margin-left: 295px; 
}


