@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    background-color: #F8FFF6;
    box-sizing: border-box;
}

.principal_menu{
    display: flex;
    min-height: 100vh;
}

.barra_menu{
    width: 260px;
    background-color: #D9D9D9;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho h2{
    color: #501345;
    font-size: 36px;
    font-weight: 700;
}

.cabecalho button{
    background-color: transparent;
    border: none;
}

.cabecalho button img{
    width: 39px;
    height: 41px;
    cursor: pointer;
}

.cabecalho button img:hover{
    opacity: 0.7;
}

.navegacao ul{
    list-style: none;
}

.navegacao a{
    text-decoration: none;
    color: #474845;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navegacao a:hover{
    color: #501345;
    font-weight: 600;
    transition: 0.3s;
    border-right: 3px solid #501345;
}

.navegacao img{
    width: 23px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.navegacao img:hover{
    opacity: 0.6;
}

.navegacao li{
    padding: 10px 10px;
    cursor: pointer;
    color: #474845
}

.navegacao li:hover {
    background: #d5d5d5;
}

.perfil{
    margin-top: auto;
    margin-left: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img{
    width: 45px;
    height: 45px;
}

.perfil span{
    color: #501345;
    font-weight: 500;
}

.principal{
    flex: 1;
    padding: 20px;
}

.principal h1{
    font-size: 3rem;
    color: #501345;
    margin-bottom: 30px;
}

.nova_tarefa{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 30px;
    background-color: #F1F8F2;
    padding: 1.1rem;
    border-radius: 10px;
}

.tarefas_gerais h2{
    margin-bottom: 20px;
    color: #501345;
    font-size: 32px
}

.titulo_tarefa{
    margin-bottom: 15px;
    flex: 1;
}

.titulo_tarefa label{
    display: block;
    font-size: 20px;
    color: #501345;
    margin-bottom: 4px;
}

.titulo_tarefa input{
    width: 92%;
    height: 24.4%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.grupo_linha{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.adicionar_tarefa{
    width: 100%;
    height: 50.5%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #501345;
    font-size: 25px;
    margin-top: 8.9%;
    padding-top: 8px;
    cursor: pointer;
}

.cartao{
    padding: 15px;
    border-radius: 8px;
    color: white;
    margin-bottom: 15px;
}

.cartao h3{
    font-weight: 300;
}

.hora{
    background-color: #501345;
    background-image: url(../img/Clock.png);
    background-repeat: no-repeat;
    background-position: 80%;
}

.valor{
    background-color: #501345;
    background-image: url(../img/Dollar\ sign.png);
    background-repeat: no-repeat;
    background-position: 80%;
}

.resumo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-weight: 500;
    font-size: 30px;
}

hr{
    border: 0;
    background-color: white;
    height: 2px;
}

.lista_tarefas h2{
    font-size: 3rem;
    color: #501345;
    margin-top: 50px;
}
